{% extends "base.html" %}

{% block content %}
    <!-- Header End -->
    <div class="container-xxl py-5 bg-dark page-header mb-5">
        <div class="container my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">About</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Header End -->
    
    <!-- About Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="container align-items-center">
                <h1 class="mb-4">About Us</h1>
                <p>XYZ Company is a leading online platform dedicated to revolutionizing human resource recruitment. We are committed to connecting exceptional talents with remarkable opportunities. Our mission is to provide an intuitive platform that empowers job seekers to fulfill their career aspirations while enabling businesses to discover the ideal candidates for growth and success.</p>
                <p>At XYZ Company, we:</p>

                <p><i class="fa fa-check text-primary me-3"></i>Streamline the recruitment process</p>
                <p><i class="fa fa-check text-primary me-3"></i>Match top talents with exceptional job openings</p>
                <p><i class="fa fa-check text-primary me-3"></i>Support businesses in finding the right candidates</p>

            </div>
        </div>
    </div>
    <!-- About End -->
{% endblock %}
