{% extends "base.html" %}

{% block content %}
    <!-- Jobs Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">{{ category.name }}</h1>
            
            <!-- Loop through dynamic data to generate job items -->
            {% for job in jobs %}
                <div class="job-item p-4 mb-4">
                    <div class="row g-4">
                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                            <img class="flex-shrink-0 img-fluid border rounded" src="{{ job.company.logo.url }}" alt="Company Logo" style="width: 80px; height: 80px;">
                            <div class="text-start ps-4">
                                <h5 class="mb-3">{{ job.title }}</h5>
                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt me-2"></i>{{ job.location }}</span>
                                <span class="text-truncate me-3"><i class="far fa-clock me-2"></i>{{ job.job_type }}</span>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                            <div class="d-flex mb-3">
                                <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>
                                <a class="btn btn-primary" href="{{ job.link }}">Apply Now</a>
                            </div>
                            <small class="text-truncate"><i class="far fa-calendar-alt text-primary me-2"></i>Deadline: {{ job.deadline }}</small>
                        </div>
                    </div>
                </div>
            {% endfor %}
            
            
        </div>
    </div>
    <!-- Jobs End -->
{% endblock %}
