{% extends "base.html" %}

{% block content %}
{% load static %}

<!-- Help Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="container align-items-center">
            <h1 class="mb-4">Evaluation of Job recruitment Website (Phase2) </h1>

            <p>Dear participant, </p>
            <p>You are about to begin your interaction with the job recruitment Website.</p>
            <p>As indicated before, exploring the website should take a total of about 4 minutes. After 1.5 mins of your interaction with the website, you will be asked if you are satisfied with your interactions and would want to visit the questionnaire page. You can either accept to be navigated to the questionnaire page or cancel to continue with exploring the website. However, after 4 mins of your interaction with website, you will be automatically navigated to the questionnaire page. This page will pose you some questions about the job advertising website that you just explored.</p>
            <p>To begin your interaction with the website, click on the button below: </p>

            <a class="btn btn-primary py-3 px-5 mt-3" href="{% url 'help' %}">Visit Website</a>
        </div>
    </div>
</div>
<!-- Help End -->


{% endblock %}
