{% extends "base.html" %}

{% block content %}
{% load filter %}

<!-- Header End -->
    <div class="container-xxl py-5 bg-dark page-header mb-5">
        <div class="container my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">{{ job.title }}</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb text-uppercase">
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">{{ job.title }}</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Header End -->

    <!-- Job Detail Start -->
    <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
        <div class="container">
            <div class="row gy-5 gx-4">
                <div class="col-lg-8">
                    <div class="d-flex align-items-center mb-5">
                        <img class="flex-shrink-0 img-fluid border rounded" src="{{ job.company.logo.url }}" alt="{{ job.title }} logo" style="width: 80px; height: 80px;">
                        <div class="text-start ps-4">
                            <h3 class="mb-3">{{ job.title }}</h3>
                            <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i>{{ job.location }}</span>
                            <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i>{{ job.job_type }}</span>
                            <span class="text-truncate me-3"><i class="far fa-money-bill-alt text-primary me-2"></i>{{ job.salary_range }}</span>
                            <span class="text-truncate me-0"><i class="far fa-calendar-alt text-primary me-2"></i>Deadline: {{ job.deadline }}</span>
                        </div>
                    </div>

                    <div class="mb-5">
                        <h4 class="mb-3">Job description</h4>
                        <p>{{ job.description }}</p>
                        
                        <h4 class="mb-3">Responsibilities</h4>
                        <ul class="list-unstyled">
                            {% for responsibility_point in job.responsibilities|split_sentences %}
                                <li><i class="fa fa-angle-right text-primary me-2"></i>{{ responsibility_point|safe }}</li>
                            {% endfor %}
                        </ul>
                        
                        <h4 class="mb-3">Qualifications</h4>
                        <ul class="list-unstyled">
                            {% for qualification_point in job.qualifications|split_sentences %}
                                <li><i class="fa fa-angle-right text-primary me-2"></i>{{ qualification_point|safe }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                    

<!-- Application Form Start -->
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Your Name" name="name" value="">
                {{ form.name.errors }}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <input type="email" class="form-control" placeholder="Your Email" name="email" value="">
                {{ form.email.errors }}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Portfolio Website" name="portfolio" value="">
                {{ form.portfolio.errors }}
            </div>
        </div>
        <div class="col-12 col-sm-6">
            <div class="form-group">
                <input type="file" class="form-control bg-white" name="resume">
                {{ form.resume.errors }}
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <textarea class="form-control" rows="5" placeholder="Cover Letter" name="cover_letter" value=""></textarea>
                {{ form.cover_letter.errors }}
            </div>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Apply Now</button>
        </div>
    </div>
</form>
<!-- Application Form End -->

                </div>
            </div>
        </div>
    </div>
    <!-- Job Detail End -->
{% endblock %}
